[package]
name = "async-redis"
version = "0.0.1"
authors = ["KennyChen <KennyChen6324@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio={version = "1.0.1", features = ["full"]}
bytes = "1.0.0"
mini-redis = "0.4.0"
async-recursion="0.3.1"
err-derive = "0.3.0"
enum_dispatch = "0.3.5"

[profile.release]
debug = true